---
import logo from "@/assets/svg/logotipo_footer.svg";

interface Props {
  img: string;
  dataText: Array<{ titulo: string; descripcion: string; href?: string }>;
  bgColor: string;
}

const { img, dataText, bgColor } = Astro.props;
---

<div
  class=`flex flex-col-reverse lg:flex-row h-auto  lg:h-[650px] w-full items-end justify-center sm:mt-4 lg:mt-6  border-2 border-negro shadow-Panambi rounded-3xl p-3 ${bgColor}`
>
  <div
    class="flex h-1/2 w-full flex-col items-start justify-between p-3 lg:h-full lg:w-1/2"
  >
    <img
      src={logo.src}
      alt="Logo Panambi"
      title="Logo Panambi"
      width="auto"
      height="auto"
      loading="lazy"
      class="h-[100px] w-auto object-contain object-top opacity-70 sm:h-[200px] lg:h-[250px]"
    />

    <div class="flex h-full w-full flex-col items-start justify-end gap-2.5">
      {
        dataText.map((item) => {
          return item.href ? (
            <a
              href={item.href}
              aria-label={item.titulo}
              target="_blank"
              rel="noopener noreferrer"
              class="flex w-auto cursor-pointer flex-col gap-1 text-pretty uppercase text-neutral-200 transition-all duration-300 hover:scale-105"
            >
              <p class="font-titulo text-lg font-semibold leading-4 tracking-wider sm:text-2xl sm:leading-6">
                {item.titulo}
              </p>
              <p class="leading-3.5 w-full text-sm font-light sm:w-[80%] sm:text-base sm:leading-4">
                {item.descripcion}
              </p>
            </a>
          ) : (
            <div class="flex w-full flex-col gap-1 text-pretty uppercase text-neutral-200">
              <p class="font-titulo text-lg font-semibold leading-4 tracking-wider sm:text-2xl sm:leading-6">
                {item.titulo}
              </p>
              <p class="w-full text-sm font-light leading-4 sm:w-[80%] sm:text-base sm:leading-5">
                {item.descripcion}
              </p>
            </div>
          );
        })
      }
    </div>
  </div>
  <div
    class="mx-auto grid h-1/2 w-full place-items-center overflow-hidden rounded-xl bg-neutral-100 lg:h-full lg:w-1/2"
  >
    <img
      src={img}
      alt="Imagen hero"
      title="Imagen hero"
      width="auto"
      height="auto"
      loading="lazy"
      class="h-full w-full object-cover"
    />
  </div>
</div>
