---
interface Props {
  titulo?: string;
  subtitulo?: string;
  descripcion: string;
  imagen?: string;
  bgColor?: string;
  textoNegro?: boolean;
}
const { titulo, subtitulo, descripcion, imagen, bgColor, textoNegro } =
  Astro.props;

console.log(textoNegro);
---

<div
  class=`border-negro shadow-Panambi relative flex h-[400px] lg:h-[420px] flex-col items-center justify-start rounded-3xl border-2 pt-8 md:pt-12 xl:pt-16 ${bgColor}`
  data-aos="fade-up"
>
  <div
    class=`flex h-auto w-full flex-col items-center justify-between md:h-auto xl:h-[40%] ${textoNegro ? "text-negro" : "text-neutral-100"} `
  >
    <div class="mb-6 flex w-full flex-col items-center justify-center gap-2">
      <h3 class="text-balance text-center text-base font-normal uppercase">
        {titulo}
      </h3>
      <h4
        class="font-titulo text-balance text-center text-2xl font-black uppercase tracking-wide md:text-2xl xl:text-3xl"
      >
        {subtitulo}
      </h4>
    </div>

    <div
      class="font-titulo w-[80%] text-pretty text-center font-light leading-tight"
    >
      <p>
        {descripcion}
      </p>
    </div>
  </div>
  <img
    src={imagen}
    loading="lazy"
    width="auto"
    height="auto"
    title=`imagen de ${titulo}`
    alt=`imagen de ${titulo}`
    class={`absolute -bottom-[20%] left-1/2 h-auto w-[70%] -translate-x-1/2 rounded-2xl object-cover shadow-2xl md:-bottom-[20%] xl:-bottom-[30%] ${imagen ? "" : "hidden"}`}
  />
</div>
