---
import CardServiciosProyectos from "@/components/base-components/CardServiciosProyectos.astro";
import Container from "@/components/base-components/Container.astro";

interface Props {
  data: Array<any>;
  bgColor: string;
}
const { data, bgColor } = Astro.props;

const actualPage = Astro.url.pathname.split("/")[1];
function isReverse(index: number): boolean {
  return actualPage === "servicios" ? false : index % 2 === 0 ? false : true;
}
---

<Container id="servicios_display" marginTop="mt-2 sm:mt-[40px] ">
  <div
    class="flex h-full w-full flex-col items-center justify-center gap-4 lg:gap-6"
  >
    {
      data.map((item, index) => (
        <CardServiciosProyectos
          img={item.img}
          titulo={item.title}
          descripcion={item.descripcion}
          tags={item.tags}
          bgColor={bgColor}
          href={item.href}
          hrefWeb={item.hrefWeb}
          reverse={isReverse(index)}
        />
      ))
    }
  </div>
</Container>
