---
import CardServiciosProyectos from "@/components/base-components/CardServiciosProyectos.astro";
import Container from "@/components/base-components/Container.astro";

interface Props {
  data: Array<any>;
  bgColor: string;
}
const { data, bgColor } = Astro.props;
---

<Container id="servicios_display" marginTop="mt-2 sm:mt-[40px] ">
  <div
    class="flex h-full w-full flex-col items-center justify-center gap-4 lg:gap-6"
  >
    {
      data.map((item) => (
        <CardServiciosProyectos
          img={item.img}
          titulo={item.title}
          descripcion={item.descripcion}
          tags={item.tags}
          bgColor={bgColor}
        />
      ))
    }
  </div>
</Container>
