---
import Boton from "@/components/base-components/Boton.astro";
import Container from "@/components/base-components/Container.astro";
import TituloCards from "@/components/base-components/TituloCards.astro";
interface Props {
  titulo: string;
  subtitulo: string;
  textoBoton: string;
  hrefBoton: string;
  bgColor?: string;
  idContainer: string;
  textNegro?: boolean;
}

const {
  titulo,
  subtitulo,
  textoBoton,
  hrefBoton,
  bgColor,
  idContainer,
  textNegro,
} = Astro.props;
---

<Container id={idContainer}>
  <div
    class=`${bgColor ? bgColor : "bg-violeta3-100"} border-negro shadow-Panambi flex w-full items-center justify-center rounded-3xl border-2 py-5 sm:w-[80%]
    `
    data-aos="fade-down"
  >
    <div class="flex flex-col items-center justify-center gap-4">
      <TituloCards
        textNegro={textNegro ? false : true}
        title={titulo}
        subtitle={subtitulo}
      />
      <div>
        <Boton texto={textoBoton} href={hrefBoton} />
      </div>
    </div>
  </div>
</Container>
