---
import PreciosItems from "./PreciosItems.astro";

interface Props {
  titulo: string;
  descripcion: string;
  dataItems: string[];
  precio: string;
  clase: string;
  masElegido?: boolean;
}
const { titulo, descripcion, dataItems, precio, clase, masElegido } =
  Astro.props;
---

<div
  class=`border-negro shadow-Panambi ${clase} ${masElegido ? "mt-8 lg:mt-0" : ""} flex w-full h-full flex-col items-start justify-between gap-8 rounded-3xl border-2 p-4 relative  bg-[#f9f9f9] text-negro`
>
  <div
    class={`bg-negro absolute ${masElegido ? "block" : "hidden"} left-5 -top-9 rounded-t-xl  text-neutral-100 pt-2 px-4 pb-1 font-titulo  uppercase -z-20`}
    data-aos="fade-up"
    data-aos-delay="200"
  >
    Más elegido
  </div>
  <div class="flex w-full flex-col items-center gap-2">
    <div
      class="flex w-full flex-col items-center gap-2 sm:flex-row lg:flex-col"
    >
      <p class="font-titulo text-center text-5xl font-black uppercase">
        {titulo}
      </p>
      <p>
        {descripcion}
      </p>
    </div>
    <div
      class="mt-4 grid w-full grid-cols-2 place-items-start gap-2 lg:grid-cols-1"
    >
      {dataItems.map((card) => <PreciosItems titulo={card} textNegro={true} />)}
    </div>
  </div>

  <p class="font-titulo mt-8 text-3xl font-black uppercase">
    desde u$s {precio}.-
  </p>
</div>
