---
import Container from "@/components/base-components/Container.astro";
import InputForm from "@/components/base-components/InputForm.astro";
import TextAreaForm from "@/components/base-components/TextAreaForm.astro";
import Titulo from "@/components/base-components/Titulo.astro";
import Flecha_svg from "@/components/base-components/svg/Flecha_svg.astro";
---

<Container id="formulario_contacto">
  <Titulo
    title="queremos acompañarte"
    subtitle="Comencemos con tu proyecto ahora!"
  />
  <div class="mt-6 flex w-full sm:w-[70%]">
    <form
      id="contacto-form"
      class="flex w-full flex-col items-start justify-start gap-4"
      method="post"
    >
      <p
        class="tracking-panambi-nav text-left font-normal uppercase sm:text-2xl lg:text-3xl"
      >
        TUS DATOS
      </p>
      <InputForm
        type="text"
        name="nombre-completo"
        placeholder="Nombre y Apellido"
      />
      <InputForm type="text" name="motivo-contacto" placeholder="Motivo" />
      <InputForm type="email" name="email" placeholder="Email" />
      <InputForm
        type="number"
        name="telefono"
        placeholder="Teléfono (opcional)"
        notrequired={true}
      />

      <p
        class="tracking-panambi-nav mt-4 text-left font-normal uppercase sm:text-2xl lg:text-3xl"
      >
        Sobre tu negocio
      </p>
      <InputForm
        type="text"
        name="nombre-negocio"
        placeholder="Nombre del negocio"
        notrequired={true}
      />
      <TextAreaForm name="descripcion" placeholder="Como podemos ayudarte" />
      <InputForm
        type="text"
        name="presupuesto"
        placeholder="¿tenes presupuesto desitnado?"
        notrequired={true}
      />
      <div class="mx-auto mt-4 grid w-full place-items-center">
        <button
          type="submit"
          class="border-negro shadow-Panambi flex h-auto w-fit cursor-pointer items-center justify-center gap-2 rounded-xl border-2 bg-neutral-100 px-3 py-4 font-semibold text-neutral-900 transition-all duration-500 hover:scale-105 2xl:px-6"
        >
          Envia tu consulta
          <Flecha_svg width="20" height="20" fill="#6e4986" />
        </button>
      </div>
    </form>
  </div>
</Container>

<script>
  const form = document.getElementById("contacto-form") as HTMLFormElement;

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(form);

    console.log("Datos del formulario a enviar:");
    for (let [key, value] of formData.entries()) {
      console.log(`${key}: ${value}`);
    }

    const res = await fetch("/api/contacto", {
      method: "POST",
      body: formData,
    });

    if (res.ok) {
      alert("Formulario enviado correctamente ✅");
      form.reset();
    } else {
      alert("Hubo un error al enviar ❌");
    }
  });
</script>
