---
import CardPlanesDW from "@/components/base-components/CardPlanesDW.astro";
import Container from "@/components/base-components/Container.astro";
import Titulo from "@/components/base-components/Titulo.astro";
import CardDolor from "./CardDolor.astro";
import Boton from "@/components/base-components/Boton.astro";

interface Props {
  idContainer?: string;
  titulo?: string;
  subtitle?: string;
  textoBoton?: string;
  hrefBoton?: string;
  dataDolor: Array<{
    titulo: string;
    descripcion: string;
  }>;
  dataSoluciones: Array<{
    titulo: string;
    items: Array<string>;
    descripcion: string;
    clase?: string;
  }>;
}

const {
  idContainer,
  titulo,
  subtitle,
  dataDolor,
  dataSoluciones,
  hrefBoton,
  textoBoton,
} = Astro.props;
---

<Container id={idContainer}>
  <div
    class="card__container mt-5 flex flex-col items-center justify-center gap-8 lg:grid"
  >
    {
      dataDolor.map((card) => (
        <CardDolor
          subtitulo={card.titulo}
          descripcion={card.descripcion}
          textoNegro={true}
          bgColor="bg-verde1-100"
        />
      ))
    }
  </div>
  <div
    class="mt-[40px] flex h-full w-full flex-col items-center justify-center sm:w-[90%] lg:w-[80%]"
  >
    <Titulo title={titulo} subtitle={subtitle} />
  </div>
  <div
    class="card__container mt-5 flex flex-col items-center justify-center gap-8 lg:grid"
    data-aos="fade-up"
  >
    {
      dataSoluciones.map((card) => (
        <CardPlanesDW
          titulo={card.titulo}
          dataItems={card.items}
          descripcion={card.descripcion}
          clase={card.clase}
        />
      ))
    }
  </div>
  <div class="mx-auto mt-4 grid w-full place-items-center">
    <Boton texto={`${textoBoton}`} href={`${hrefBoton}`} />
  </div>

  <style>
    .card__container {
      width: 100%;
      height: auto;

      grid:
        "a b c" auto
        "a b c" auto
        "a b c" auto
        / 1fr 1fr 1fr;
      gap: 16px;
    }

    .a {
      grid-area: a;
    }
    .b {
      grid-area: b;
    }
    .c {
      grid-area: c;
    }
  </style>
</Container>
