---
import Container from "@/components/base-components/Container.astro";
import Titulo from "@/components/base-components/Titulo.astro";
import imgHero from "@/assets/img/hero/mktdigital.avif";
interface Props {
  idContainer: string;
  titulo: string;
  subtitulo: string;
  img: string;
  textoTitulo: string;
  textoDescripcion: string;
}

const { idContainer, titulo, subtitulo, img, textoTitulo, textoDescripcion } =
  Astro.props;
---

<Container id={idContainer}>
  <div
    class="mt-4 flex h-full w-full items-end justify-center sm:mt-8 sm:w-[80%] lg:w-[70%]"
  >
    <Titulo title={titulo} subtitle={subtitulo} />
  </div>

  <div
    class="mt-8 flex flex-col items-center justify-between gap-8 lg:h-[400px] lg:flex-row lg:gap-0"
  >
    <div
      class="shadow-Panambi border-negro w-full overflow-hidden rounded-3xl border-2 bg-amber-800 object-cover object-center sm:w-[80%] lg:w-1/2"
    >
      <img
        src={img}
        alt="Imagen de asesoria"
        title="Imagen de asesoria"
        class="w-full"
        width="auto"
        height="auto"
      />
    </div>
    <div
      class="flex w-full flex-col items-center justify-center px-4 sm:w-[80%] lg:w-1/2"
    >
      <div
        class=` w-full text-balance text-center text-xl font-light leading-5 sm:text-2xl sm:leading-6  text-negro`
      >
        <p
          class="font-titulo text-pretty pb-2 text-2xl font-semibold leading-7 sm:text-4xl sm:leading-8 lg:pb-8"
        >
          {textoTitulo}
        </p>
        <p>
          {textoDescripcion}
        </p>
      </div>
    </div>
  </div>
</Container>
