---
import Container from "@/components/base-components/Container.astro";
import TextoLibre from "@/components/base-components/TextoLibre.astro";
import Titulo from "@/components/base-components/Titulo.astro";
import Imagen3D from "./Imagen3d.astro";

interface Props {
  idContainer?: string;
  titulo?: string;
  subtitulo?: string;
  img?: string;
  textoLibreTitulo?: string;
  textoLibreSubtitulo?: string;
  origen?: string;
  marginTop?: string;
}

const {
  idContainer,
  titulo,
  subtitulo,
  img,
  textoLibreTitulo,
  textoLibreSubtitulo,
  origen,
  marginTop,
} = Astro.props;
---

<Container id={idContainer}>
  <div
    class="mt-4 flex h-full w-full items-end justify-center sm:mt-8 sm:w-[80%] lg:w-[70%]"
  >
    <Titulo title={titulo} subtitle={subtitulo} />
  </div>

  <TextoLibre
    textNegro={true}
    titulo={textoLibreTitulo}
    subtitulo={textoLibreSubtitulo}
    marginTop={marginTop}
  />
  <Imagen3D img={img} origen={origen} />
</Container>
