---
import Container from "@/components/base-components/Container.astro";
import celImg from "@/assets/img/hero/hero_cel_mano.avif";
import resultadosImg from "@/assets/img/hero/hero_resultados.avif";
import postImg from "@/assets/img/hero/hero_post_insta.avif";
import btnImg from "@/assets/img/hero/hero_btn_compartir.avif";
import logo from "@/assets/svg/logotipo.svg";
import flecha from "@/assets/svg/arrow-right.svg";
---

<Container
  id="hero_index"
  classNameContainer="xl:mt-16"
  classNameSeccion="h-[550px] lg:h-[650px]  pb-4 pt-8 overflow-x-clip"
>
  <div class="hero-grid">
    <div class="a relative overflow-hidden">
      <img
        src={logo.src}
        alt=""
        height="auto"
        width="auto"
        class="absolute -bottom-[25%] -right-[20%] -z-10 h-[90%] opacity-50"
      />
      <div
        class="flex h-full w-full flex-col items-start justify-center gap-6 p-4 sm:justify-around"
      >
        <div class="flex w-full flex-col gap-2 lg:w-full">
          <h1
            class="text-violeta2-200 text-xs font-semibold lg:text-xl lg:tracking-wider"
          >
            Panambi - Marketing Digital y Desarrollo Web
          </h1>
          <h2
            class="text-negro text-[clamp(1.8rem,9vw,3.5rem)] font-medium uppercase leading-[clamp(2rem,8.5vw,3.5rem)] sm:text-[40px] sm:leading-[40px] lg:text-6xl lg:leading-[60px] xl:text-[80px] xl:leading-[70px]"
          >
            Transformamos el negocio de <strong
              class="text-violeta1-400 font-extrabold italic">Servicios</strong
            >
          </h2>
        </div>
        <div class="w-full sm:w-[90%]">
          <p
            class="text-negro/60 text-pretty text-sm font-medium leading-[17px] lg:text-base"
          >
            Somos tu socio digital para el negocio de Servicios. Te acompañamos
            en el proceso de transformación y comercialización digital de tu
            marca.
          </p>
        </div>
      </div>
    </div>
    <div class="b"></div>
    <div class="c flex w-full items-center justify-center p-3">
      <img
        src={flecha.src}
        height="auto"
        width="auto"
        alt="Flecha"
        class="h-full rotate-45 object-contain"
      /><img
        src={flecha.src}
        height="auto"
        width="auto"
        alt="Flecha"
        class="hidden h-full rotate-[135deg] object-contain md:block lg:hidden xl:block"
      />
    </div>
    <div class="d group">
      <div class="relative h-full w-full object-bottom">
        <img
          src={celImg.src}
          alt=""
          class="absolute bottom-0 right-0 h-auto rounded-b-3xl lg:right-[18px] lg:h-[110%] lg:scale-x-110 xl:right-0 xl:h-auto xl:scale-x-100"
        />
        <img
          src={resultadosImg.src}
          alt=""
          class="drop-shadow-negro absolute -right-[10%] bottom-0 h-auto scale-125 drop-shadow-lg transition-all delay-200 duration-500 group-hover:scale-[140%]"
        />
        <img
          src={postImg.src}
          alt=""
          class="drop-shadow-negro absolute -bottom-4 right-0 h-auto drop-shadow-lg transition-all delay-75 duration-500 group-hover:scale-[120%] lg:bottom-0 xl:-bottom-4"
        />
        <img
          src={btnImg.src}
          alt=""
          class="drop-shadow-negro absolute -bottom-4 right-0 h-auto drop-shadow-lg transition-all delay-300 duration-500 group-hover:scale-[135%] lg:bottom-16 xl:-bottom-4"
        />
      </div>
    </div>
  </div>

  <style>
    .hero-grid {
      width: 100%;
      height: 100%;
      display: grid;
      gap: 16px;
      grid:
        "a a a a a " 1fr
        "a a a a a " 1fr
        "b b  b c c " 1fr
        / 1fr 1fr 1fr 1fr 1fr;
    }

    @media (width >= 600px) {
      .hero-grid {
        grid:
          "a a a a a d d d" 1fr
          "a a a a a d d d" 1fr
          "b b b b c c c c" 1fr
          / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }
    }

    @media (width >= 1024px) {
      .hero-grid {
        grid:
          "a a a a a d d d" 1fr
          "a a a a a d d d" 1fr
          "b b b c c d d d" 1fr
          / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }
    }

    .a,
    .b,
    .c,
    .d {
      color: white;
      border-radius: 24px;
      box-shadow: 4px 4px 0px #1a181b;
      border: 2px solid #1a181b;
    }

    .a {
      grid-area: a;
      background-color: color-mix(
        in oklab,
        var(--color-violeta1-100) 37%,
        transparent
      );
    }
    .d {
      grid-area: d;
      background-color: var(--color-verde2-300);
      display: none;
      position: relative;
    }

    @media (width >= 600px) {
      .d {
        display: flex;
      }
    }
    .b {
      grid-area: b;
      background-image: url("/img/hero_img_card_1.avif");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .c {
      grid-area: c;
      background-color: var(--color-violeta1-200);
    }
  </style>
</Container>
