---
import CardServicios from "@/components/base-components/CardServicios.astro";
import Container from "@/components/base-components/Container.astro";
import Titulo from "@/components/base-components/Titulo.astro";
import dataCardServicios from "@/data/servicios_card_index.json";
---

<Container id="Servicios_index">
  <Titulo
    title="empeza hoy a"
    subtitle="transformar tu negocio"
  />
  <div class="grid w-full gap-x-7 gap-y-24 pb-24 lg:grid-cols-2 lg:grid-rows-2">
    {
      dataCardServicios.map((card) => (
        <CardServicios
          titulo={card.titulo}
          subtitulo={card.subtitulo}
          descripcion={card.descripcion}
          imagen={card.imagen}
          bgColor={card.bgColor}
        />
      ))
    }
  </div>
</Container>
